body {
    background-color: black;
    color: white;
    font-family: 'Arial', sans-serif;  
}

#carousel{
    text-align: center;
}

h1 {
    font-size: 2.5em;
    color: white; 
} 

h2 {
    font-size: 2em;
    margin: 8px;
    color: white; 
} 

footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px 0;
}

a:hover {
    color: #ff5722;
}

h1, h2, label {
    text-align: center;
}